/BLEdevice.xcodeproj/xcuserdata/ivanbrazhnikov.xcuserdatad/xcschemes/BLEdevice.xcscheme
/BLEdevice.xcodeproj/xcuserdata/ivanbrazhnikov.xcuserdatad/xcschemes/BLEdevice-Sample.xcscheme
/BLEdevice.xcodeproj/xcuserdata/ivanbrazhnikov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/BLEdevice.xcodeproj/xcuserdata/ivanbrazhnikov.xcuserdatad/xcschemes/xcschememanagement.plist
